td {
    color:white; 
    background-color: #DE3163;
    font-size: .5cm;
    margin: 0;
    font-style: bold;
    text-align: center;
    letter-spacing: 0cm;
    border-bottom-width: 0.3cm;
    border-bottom-color: #DE3163;
    text-align: center; 
    border: 1px solid #999;
    padding: 0.1em 1em;
    }
h1 {
    color: rgb(0, 102, 255);
    background-color: white;
    font-size: .5cm;
    margin: 0;
    font-style: bold;
    text-align: center;
    letter-spacing: 0cm;
    }
.myDiv {
    border: 10px;
    background-color: white;
    text-align: center;
    }
